.portada {
    background-image: url(.../imagen/onepiece-12_r3vz.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}