.card {
    border: 1rem solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjeta {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 1s;
}